.column {
  border: 5px solid #009900;
  padding: 3px;
  width: 250px;
  float: left;
}

.tom ul li {
  color: #ffcc00;
}

.seam ul li {
  color: #6b6b47;
}

.sarah ul li {
  color: #cc0000;
}

.noodle ul li {
  color: #006bb3;
}

img {
  width: 100%;
}

.title {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
