.column {
  border: 5px solid #009900;
  padding: 3px;
  width: 250px;
  float: left;
}

.column p em {
  background-color: #ff9900;
}

.column p strong {
  color: #0066ff;
}

.tom ul {
  color: #cc6600;
}

.seam ul {
  color: #6b6b47;
}

.sarah ul {
  color: #cc0000;
}

.noodle ul {
  color: #006bb3;
}

img {
  width: 100%;
}

.title {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

h1 {
  color: #006622;
}

@media screen and (max-width: 500px) {
  body {
    background-color: #99ff33;
  }
}
